.mainContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

form{
width: fit-content;
/* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 300px;
}
label{
    margin-top: 10px;
}

.comment{
    width: 400px;
    height: 200px;
    margin-bottom: 20px;   
}



.logo{
    width: 250px;

}